# Essentials
.DS_Store
.DS_Store?
.env
.env.production
.env.testing
.Trashes
*.sqlite
*.sqlite-journal
*.idea/*
*.idea
*.idea/.*
Thumbs.db

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Dependency directories
node_modules/
vendor/

# Golang stuff
*_test.go

# Javascript stuff
yarn-error.log
npm-debug.log
package-lock.json
pnpm-lock.yaml
yarn.lock

# Project stuff
target/
cmd/elisacp/static/public/*
!cmd/elisacp/static/public/.gitkeep
