# /etc/systemd/system/elisacp.service
[Unit]
Description=ElisaCP Service
ConditionPathExists=/opt/elisacp
After=syslog.target network.target

[Service]
Type=simple
User=elisacp
Group=elisacp
WorkingDirectory=/opt/elisacp
EnvironmentFile=/opt/elisacp/config/elcp.conf
ExecStart=/opt/elisacp/bin/elcp -prod -host=0.0.0.0:2080

# make sure log directory exists and owned by syslog
ExecStartPre=/bin/mkdir -p /var/log/elisacp
ExecStartPre=/bin/chown syslog:adm /var/log/elisacp
ExecStartPre=/bin/chmod 755 /var/log/elisacp

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=elisacp
SuccessExitStatus=143
TimeoutStopSec=120
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
