/*
body.page-kube{background-image:url(../img/bg.jpg); background-repeat: no-repeat;}
#hero h1 {font-weight: 500; color: #242493; text-shadow: 2px 2px #6086c9;}
*/
#hero h1 {font-weight: 500; text-shadow: 2px 2px #ccc;}
div#top-brand a {color: #1585e8 !important; font-size: 16pt !important; font-weight: 900;}
a, a:hover {text-decoration: none !important;}
a:hover {color: #178ae8 !important;}
nav#top-nav-extra a {font-weight: bold;}
